/* src/components/layout/Footer.css */
.footer {
  text-align: center;
  padding: 2rem;
  background-color: transparent;
  border-top: 1px solid var(--border-color);
  color: var(--text-secondary-color);
  font-size: 0.9rem;
}
.footer nav {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
@media (max-width: 600px) {
  .footer {
    padding: 1.5rem 1rem; /* Padding thoda kam kiya */
  }

  .footer nav {
    flex-direction: column; /* Links ko ek ke neeche ek kar diya */
    gap: 1rem;
  }
}
